body {
    display: flex;
    justify-content: space-between;
    background-color: white;
    font-family: 'Noto Sans TC';
}

.list-wrapper {
    width: 300px;
}

.table-wrapper {
    width: 650px;
}

span {
    border-radius: 2px;
}

.hide-span-background-color {
    background-color: white;
}

span:hover {
    font-weight: 600;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td, th {
    border: 1px solid black;
    width: 120px;
    height: 40px;
    text-align: center;
}

th {
    background-color: lightblue;
}

.boldFont {
    font-weight: bold;
}